
  
html{
    background-image: linear-gradient(90deg,rgb(242, 232, 232),#6e9aea    );
    /* font-family: sans-serif; */
    font-family: "Noto Kufi Arabic", sans-serif;
     scroll-behavior: smooth;
}
.pheader{
    position: relative;
     
    width: 100%;
    
}
.header{
   
position: relative;
    width: 100% ;
   
    
}
.headlogo{
    position: absolute;
    top: 0;
     left: 50%;
     width: 400px;
    /* top: 50%;
    transform: translateY(-50%);*/
    transform: translatex(-50%); 
}
.nav{
    position: relative;
    top: 80px;
    background-image: linear-gradient(60deg ,#96bef7 5% ,#1c52bc 20% , #091428 75%  );
    padding: 0 40px;
    width: 100%;
}
@media(  min-width :1068px){
    .nav{
        padding: 0 150px;
    }
    
}
@media(  min-width :769px){
  .sidebarr{
    display: flex!important;
    justify-content: space-between;
    gap: 27px;
    color: aliceblue;
}  
}

@media(  max-width :768px) {
    .sidebarr{
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 20px;
        color: aliceblue;
        line-height: 4;
        right: 0;
        top: 57px;
        text-align: end;
        z-index: 20;
        height: fit-content;
        width: 100%;
        background-image: linear-gradient(60deg ,#1c52bc 20% , #091428 75% );
        transition: 0.5s;
    }
    .sidebarr li{

    }
}
.barr{
   display: none;
}
@media(  max-width :768px){
    .barr{
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}
.barr span{
width: 25px;
height: 2px;
background-color: aliceblue;

}


.newbarrSpan{
    width: 25px!important;
    background-color: aliceblue!important;
    height: 2px!important;
    transition: 0.5s;
}
.barrSpan{
    width: 15px!important;
    background-color: aliceblue!important;
    height: 2px!important; 
    transition: 0.5s;
}
/* start-main */
.box{
    position: relative;
    background-image: linear-gradient(60deg,#96bef7 ,#1c52bc,#091428 );
    display: flex;
    flex-direction: column;
    align-items: center;
    /* top: 80px; */
    color: aliceblue;
    width: 200px;
    height: 245px;
    text-align: center;
    border-radius: 6px;
    box-shadow:  0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);;
    /* transition: 0.3s; */
    
}
@media (  max-width :768px) {
    .box{
        width: 230px;
        height:275px;
        margin-left:35px;
        
    }
}
@media (  max-width : 700px) {
    .box{
        width: 230px;
        height:275px;
       
        
    }
}
@media (  max-width : 660px) {
    .box{
        width: 200px;
        height:265px;
       
        
    }
}
@media (  max-width : 520px) {
    .box{
        width: 180px;
        height:235px;
        
        
    }
}
@media (  max-width : 495px) {
    .box{
        width: 150px;
        height:210px;
        
        
    }
}
.newbox{
    
    position: absolute;
    background-image: linear-gradient(60deg,#091428,#1c52bc,#96bef7  );
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    z-index: 11;
    justify-content: space-evenly;
   
    color: aliceblue;
    width: 250px;
    height: 305px;
    border-radius: 6px;
    box-shadow:  0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);;
   transition: 0.3s;
   
     left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
   
}


.newbox::after{
    content : "";
    position: absolute;
    width :100px;
    height: 20px;
    z-index: 0;
    border-radius: 50%;
    background-color: rgb(0 0 0 / 0.2);
    bottom: 61px;
    left: 50%;
    transform: translateX(-50%);
}
@media (  max-width :768px) {
    .newbox{
        width: 260px;
        height:305px;
        
        
    }
}
/* @media (  max-width : 700px) {
    .newbox{
        width: 250px;
        height:275px;
       
        
    }
}
@media (  max-width : 660px) {
    .newbox{
        width: 230px;
        height:255px;
        
        
    }
}
@media (  max-width : 520px) {
    .newbox{
        width: 210px;
        height:235px;
        
        
    }
}
@media (  max-width : 495px) {
    .newbox{
        
        width: 190px;
        height:210px;
        
        
    }
} */

@media (  max-width : 768px) {
    .newbox::after{
       /* bottom:65px ; */
    } 
}
@media (  min-width : 500px) {
    .newbox::after{
       bottom: 73px;
    } 
}
@media (  max-width : 495px) {
    .newbox::after{
       /* bottom:43px ; */
       width: 80px;
    } 
}
.cont{
    width: 150px;
    height: fit-content;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.5s;
    box-shadow:  30px 20px 10px rgba(0, 0, 0, 0.3);
}

@media (  max-width :500px) {
    .cont{
        width: 130px;
    }
}
@media (  max-width :495px) {
    .cont{
        width: 120px;
    }
}
.ncont{
    position: relative;
    z-index: 1;
    width: 135px;
    border-radius: 50%;
    margin-bottom: 40px;
    overflow: hidden;
    height: fit-content;
    transition: 0.5s;
    filter: grayscale(50%);
  
    animation: rot  30s  linear infinite , popup 2s infinite 3s;
    pointer-events: none;
    box-shadow: rgba(50, 50, 51, 0.324);
    
}
@media (  max-width :500px) {
    .ncont{
        width: 115px;
    }
}

.n2cont{
    position: relative;
    z-index: 1;
    width: 135px;
    border-radius: 50%;
    margin-bottom: 40px;
    overflow: hidden;
    height: fit-content;
    transition: 0.5s;
    filter: grayscale(50%);
    
    animation: rot 30s  linear infinite paused ;
    pointer-events: none;
    
}

    @keyframes popup {
    10%{
        width: 140px;
        border-radius: 50%;
     
    }
    20%{
        width: 135px;
        border-radius: 50%;
     
 
    }
    30%{
        width: 135px;
        border-radius: 50%;
    }
    40%{
        width: 135px;
        border-radius: 50%;
    }
    50%{
        width: 140px;
        border-radius: 50%;
    }
    60%{
        width: 135px;
        border-radius: 50%;
    }
    70%{
        width: 135px;
        border-radius: 50%;
    }
    80%{
        width: 135px;
        border-radius: 50%;
    }
    90%{
        width: 140px;
        border-radius: 50%;
    }
 
    100%{
        width: 135px;
        border-radius: 50%;
    }
   
 }

@media (  max-width :500px) {
    .n2cont{
        width: 115px;
    }
    @keyframes popup {
        10%{
            width: 120px;
            border-radius: 50%;
         
        }
        20%{
            width: 115px;
            border-radius: 50%;
         
     
        }
        30%{
            width: 115px;
            border-radius: 50%;
        }
        40%{
            width: 115px;
            border-radius: 50%;
        }
        50%{
            width: 120px;
            border-radius: 50%;
        }
        60%{
            width: 115px;
            border-radius: 50%;
        }
        70%{
            width: 115px;
            border-radius: 50%;
        }
        80%{
            width: 115px;
            border-radius: 50%;
        }
        90%{
            width: 120px;
            border-radius: 50%;
        }
     
        100%{
            width: 115px;
            border-radius: 50%;
        }
       
     }
}
@media (  max-width :495px) {
    .n2cont{
        width: 105px;
    }
}
@keyframes rot{
to {
   transform: rotate(360deg);
}



}
.icn{
    position: absolute;
    font-size: 1.875rem;
    line-height: 2.25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}

.icnplay{
    position: absolute;
    font-size: 1.875rem;
    line-height: 2.25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.tgl{
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 10px;
    gap: 32px;
    justify-self: flex-end;
    
}
.swtch{
    display: none;
}
.boxdata{
    display: none;
    transition: 2s;
}
.center{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}
.addcard{
    top: 75%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.centerize{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.centerizee{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50% , -50%);
}
@media (  max-width : 768px) {
    .addcard{
        /* top:50%; */
    }
}
.audbtn{
    /* box-shadow:  3px 4px 15px rgba(0, 0, 0, 0.3); */
    box-shadow:  20px 10px 10px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(60deg,#96bef7 ,#1c52bc,#091428 );
    padding: 5px 10px;
    border-radius: 5px;
    color: aliceblue;
    transition: 0.5s;
    
}
.audbtn:hover{
    background-image: linear-gradient(60deg,#091428 ,#1c52bc,#96bef7 );
    transform: scale(.9);
}
.audbtn::placeholder{
    color: #e6e3e3;
    margin-left: 20px;
}
.imgbox{
    box-shadow:  20px 10px 10px rgba(0, 0, 0, 0.3); 
    color: aliceblue;
}
.cover{
position: relative;
top: 0;
left: 0;
width: 100%;
height: 100vh;

}
.cover::after{
    content: "";
    position: absolute;
    z-index: 10;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.centering{
    position: relative;
    top: 50%;
    z-index: 10;
    height: 100vh;
    background-image: linear-gradient(90deg,rgb(242, 232, 232),#6e9aea    );
}
.maincolor{
    background-image: linear-gradient(60deg,#96bef7 ,#1c52bc,#091428 )
}
.tol{
    direction: rtl;
}
.tol::placeholder{
    color: #091428;
}
@media (  min-width : 768px){
  .icons{
  display: none;
}  
}

.collapsee{
    display: none;
}
@media (  max-width : 768px){
  .logout{
  margin-top: 124px;
padding-top: 5px;
/* border-top: dotted;   */
}  
.mrgn{
    font-size: 15px;   
}

}
/* .sidebarr li.active{
    background-color: red;
} */
.sidebarr li a {
    padding: 12px 5px;
   
}
@media(  max-width :768px){
    .sidebarr li a{
        width:100% ;
        display: flex;
        flex-direction: row-reverse;
       padding-right:20px;
       padding-left: 20px;
       justify-content: space-between;
       align-items: center;
        color: white;
    }
    .lastli{
        padding-top:2px !important;
        padding-bottom:2px !important; 
    }
}
.sidebarr li{
    transition: 0.2s;
}
/*  */
.nli{
    width: fit-content;
    height: 56px;
    padding: 0 5px;
    text-align: center;
    border-bottom: inset;
    color: white;
}
@media (  min-width : 1068px){
.respn{
position: absolute !important;

right:145px !important;
}
}

@media (  max-width : 768px){
    .nli{
        width:100% ;
        /* transform: translateX(-10px); */
        display: flex;
       padding-right:40px;
       justify-content: space-between;
    background-color: #96bef767;
 height: fit-content;
        border-bottom: inset;
        color: white;
    } 
    .sidebarr li:hover{

            width: 100%;
            height: fit-content;
            text-align: center;
            border-bottom:  inset;
            color: white;
            background-color: #96bef767;
        
    }
}
@media (  max-width : 768px){
    .respn p{
        margin: 0;
    }
    .respn p:last-of-type{
        margin-left: 200px;
    }
}
.screenhight{
  
}
@media (max-width: 520px) {
    .screenhight {
         
    }
}
@media (  max-width : 432px){
    .respn p:last-of-type{
        margin-left: 10px;
    }
}